$brand: #e56;

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

p {
  background-color: $brand;
  font-size: 3em;
}

// article {
//     display: grid;
//     gap: 10px;
//     grid-auto-flow: column;
// }

section.grid {
  height: 100%;
  background-color: #ddd;

  display: grid;
  gap: 5px;
  //   grid-auto-flow: row;
  //  grid-template-columns and grid-template-rows
  // column 1 column 2 column 3
  //   grid-template-columns: 200px 400px 100px 50px;
  //   grid-template-rows: 200px 300px 400px;

  // grid-template-columns: 200px 200px 200px;
  //   grid-template-columns: repeat(3, 200px);
  //   grid-template-rows: repeat(3, 300px);

  // fr or fraction

  // grid-template-columns: 1fr 1fr; // 2 fractions here 
  grid-template-columns: 1fr 1fr 1fr; // 3 fractions/parts
  grid-template-rows: 150px 1fr 200px; // 9 fractions or parts
}
